@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@mixin button($bcolor,
$url,
$x1,
$y1,
$bor,
$col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    border: $bor;
    color: $col;
}


.ReactModal__Overlay--after-open {
    z-index: 1;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


.form-buttons {
    float: right;
}

.validation-error {
    margin-bottom: 5%;
    font-size: medium;

    p {
        color: #761b18;
    }
}

.button-img {
    width: 100%;
    display: flex;
    justify-content: center;

    .edit {
        background: transparent;
        padding: 0;
        margin-right: 5px;

        button {
            width: 35px;
            height: 35px;
            background: url('/images/edit.png') top left no-repeat;
            background-size: 35px;
            cursor: pointer;
            border: none;
            text-indent: -9999em;
        }

        button:hover,
        button:focus {
            box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
            transform: translateY(-0.4em);
        }
    }

    .delete {
        background: transparent;
        margin-left: 5px;

        button {
            width: 35px;
            height: 35px;
            background: url('/images/delete.png') top left no-repeat;
            background-size: 35px;
            cursor: pointer;
            border: none;
            text-indent: -9999em;
        }

        button:hover,
        button:focus {
            box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
            transform: translateY(-0.4em);
        }

    }
}


.table-container {
    width: 100%;
    color: rgba(213, 230, 231, 255);


    thead {
        background: rgba(33, 40, 50, 255);
        color: rgba(254, 233, 207, 255);
        height: 50px;

        th {
            font-size: 20px;
            text-align: center;
        }
    }

    table {
        width: 100%;
        background: rgba(45, 57, 69, 255);

        td {
            text-align: center;
            padding-top: 2%;
        }

        tr:nth-child(2n) {
            background: rgba(36, 47, 56, 255);
            padding-top: 50%;
        }
    }

    .pagination-container {
        display: flex;
        width: 100%;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;

        ul {

            margin: 0;

            li {
                margin: 0 5px 0 5px;
            }
        }

        .pagination {
            margin: auto;
        }
    }

    .row-buttons {
        float: right;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        transition: 0.5s;
        border-radius: 8px;

        .animated-button{
            &:hover,
            &:focus {
                animation: pulse 1s;
                box-shadow: 0 0 0 2em rgba(#fff,0);
            }

            @keyframes pulse {
                0% { box-shadow: 0 0 0 0 adjust-hue(#ef6eae, 45deg); }
            }
        }

        button {
            color:  #ef6eae;
            transition: 0.25s;
            background: none;
            border: 2px solid;
            line-height: 1;
            margin: 0.5em;
            padding: 1em 2em;

            &:hover,
            &:focus {
                border-color: adjust-hue(#ef6eae, 45deg);
                color: #e4cb58;;
            }
        }
    }

}


