.ReactModal__Overlay--after-open {
  z-index: 1;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.form-buttons {
  float: right;
}

.validation-error {
  margin-bottom: 5%;
  font-size: medium;
}
.validation-error p {
  color: #761b18;
}
